.footer {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*font-size: calc(10px + 2vmin);*/
    margin: 1em;
}

.App-header .small {
    font-size: 12px;
}

.d3body {
    border: 1px solid #ccc !important;
    border-radius: 16px;
    padding: 0.01em 16px;
    width: 75%;
    display: inline-block;
}

.matrix {
    width: 23%;
    float: left;
}

.Main-container {
    padding-left: 10px;
    padding-right: 10px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
